* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: red;
}

button:hover{
    cursor: pointer;
}

.info-container{
    width: 600px;
    height: 350px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.402);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.select--button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: none;
}


.display{
    margin-top: 20px;
}

#timer-display{
    font-size: 150px;
    color: white;
}

.control{
    margin-top: 10px;
}

.control--button{
    padding: 10px;
    margin-right: 5px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: red;
}

#restart-button{
    display: none;
}